@keyframes twinkling {
  0% {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transform: scale(1.12);
  }
  100% {
    opacity: 0.2;
    filter: alpha(opacity=20);
    -webkit-transform: scale(1);
  }
}

.header {
  display: table-row;
  width: 100vw;
}
.header .logo {
  display: table-cell;
  width: 50px;
  padding: 20px;
  animation: twinkling 2.1s infinite ease-in-out;
  animation-fill-mode: both;
}
.header a {
  display: table-cell;
  vertical-align: middle;
}

.icon-div {
  width: 100vw;
  padding: 50px;
  text-align: center;
}

.icon-div svg,
.icon-div i {
  margin: 20px;
}
